
*.dll
*.pdb
*.xml
*.txt
*.png
*.svg
*.gif
*.fla
*.swf
*.jpg
*.js
*.css
*.datasource
*.ssdl
*.msl
*.csdl
Zofking/Areas/Admin/Content/assets/global/plugins/uniform/README.md
*.db
*.csv
*.ini
*.config
*.exe
*.resx
*.rar
*.psd
